@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "oracle-regular";
  src: url("/fonts/chinese rocks rg.otf") format("opentype");
  font-weight: normal; /* o bold, dependiendo de la variante */
  font-style: normal; /* o italic, si es cursiva */
}

.oracle-regular {
  font-family: "oracle-regular", sans-serif;
}

.welcome {
  background-image: url("/welcome.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.login, .ranking {
  background-image: url("/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.trivia {
  background-image: url("/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.trivia2 {
  background-image: url("/fondo2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.btn_question {
  /* background-image: url("/field.png"); */
  background-size: cover;
  background-repeat: no-repeat;
}
