@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "oracle-regular";
  src: url("/fonts/oracle-sans/OracleSans-Regular.woff2") format("woff2"),
    url("/fonts/oracle-sans/OracleSans-Regular.woff") format("woff");
  font-weight: normal; /* o bold, dependiendo de la variante */
  font-style: normal; /* o italic, si es cursiva */
}
.oracle-regular {
  font-family: "oracle-regular", sans-serif;
}

@font-face {
  font-family: "oracle-light";
  src: url("/fonts/oracle-sans/OracleSans-Light.woff2") format("woff2"),
    url("/fonts/oracle-sans/OracleSans-Light.woff") format("woff");
  font-weight: normal; /* o bold, dependiendo de la variante */
  font-style: normal; /* o italic, si es cursiva */
}
.oracle-light {
  font-family: "oracle-light", sans-serif;
}
